

  <div class="container">
  <div class="jumbotron">
    <h1>Secret Santa</h1>
  </div>
  <p>What is Secret Santa?
It’s a free online Secret Santa gift exchange organizer / Kris Kringle generator! Organize a Secret Santa party with friends, family or even co-workers. After receiving the Secret Santa mail you can add your own wishlist, which will be delivered to your Secret Santa.

Each year around Christmas time people all over the world exchange gifts.
To keep things interesting though, you can randomly assign persons to each other to give a present to one another.</p>

  <%= link_to "Start your Secret Santa !", new_event_path, class: "btn btn-primary" %>
  </div>
