.button-start {
    display: inline-block;
    background-color:   crimson;
    padding: 13px 25px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    opacity: 0.90;
    text-decoration: none;
}
.button-start:hover{
  opacity: 1;
  text-decoration: none;
  color: white;
}

